.row{
    background-color: rgb(127, 247, 247);
    display:flex;
    padding: 25px;
    width: 90%;
    height: 150px;
    margin: 5px;
    justify-content: center;
 
}

p{
    font-size: 40px;
}


div{
    background-color: rgb(45, 184, 240);
    display: inline-block;
    padding: 10px;
    width: 250px;
    margin: 25px;
}
.dis1{
    width: 40%;
    
}

.dis2{
    width: 40%;
}

.dis3{
    width: 25%;
}
.dis4{
    width: 25%;
}
.dis5{
    width: 25%;
}

.dis6{
    width: 17%;
}
.dis7{
    width: 17%;
}
.dis8{
    width: 17%;
}
.dis9{
    width: 17%;
}
   

