.product{
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 5px rgb(238, 9, 9);
}
.prodhead{
    position: relative;
}
.pb{
    background-color: rgba(255, 136, 0, 0.753);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.prodimg{
    width: 100%;
    height: 210px;
    display: block;
    object-fit: cover;   
}
.prod-title{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    
}
.prod-body{
    padding: 25px;
}
h2,h5{
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.pt1{
    padding-top: 15px;
}
.colors{
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 7px;

}
button{
    background-color:red;
    color: white;
}
.gt{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(236, 227, 227);
    border: 1px solid rgb(75, 3, 3);
    text-transform:capitalize;
    padding: 14px;
    z-index: 9999;
    font-size: 40px;
}
.product > small{
    color: rgb(233, 13, 13);
   font-size: 20px;
   padding: 20px;
    

}
