@font-face {
  font-family: BPG;
  src: url(/font/bpg_nino_mtavruli_bold_[FONTS.GE].zip);
}


.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sub-nav, .navbar{ 
  z-index: 9999;
}
.sub-nav{
  background-color:#363732bf;
  padding: 9px 0;
}
.navbar{
  top: 2.7rem;
  height: 99px;
}
a, a:hover{
  text-decoration: none;
}
.langs .list-inline-item:not(:last-child) {
  margin-right: 0;
}
.langs a, .menu a{
  font-family: BPG;
  font-size: 15px;
  color: white;
}
 .menu .list-inline-item:not(:last-child) {
  margin-right: 25px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #6b6b6b;
  font-family: BPG;
  font-size: 17px;
}
.navbar-dark .navbar-nav .nav-link:focus,.navbar-dark .navbar-nav .nav-link:hover{
  color: rgb(52 58 64);
}
.dropdown-toggle::after {
  display: none;
  
}
.nav-item:first-child .nav-link img{
  position: relative;
  bottom: 8px;
  left: 9px;
}
.dogspan{
  position: relative;
  bottom: 3px;
}
.nav-link {
  display: block;

}
.nav-link img{
  padding: 13px;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
}
.navbar::before{
  content:"" ;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: white
}

h3{
  font-family: BPG;
  font-size: 24px;

}
 
@font-face  {
  font-family:bpg ;
  src: url(/font/bpg_arial_2009.ttf);


}
p{
  font-family:bpg ;
  font-size: 17px;
  
}
@media (min-width: 768px){
  .d-md-block {
      display: block!important;
      right: 40%;
  }
}
.my-imgt{
width: 105px;
border: solid rgb(247, 243, 243);
}
.my-imgtaste{
  width: 195px;
border: solid rgb(247, 242, 242);
}
.my-imgnuggets{
  width: 163px;
  border: solid rgb(248, 247, 247);
}
.my-imgroyal{
  width: 165px;
  border: solid rgb(248, 244, 244);
}
.my-img{
  width: 125px;
  border: solid rgb(243, 241, 241);
}
footer{
  size: 100px;
}
.pb-5, .py-5 {
  padding-bottom: 1.3rem!important;
}


.pb-5, .py-5 {
  padding-bottom: 4.2rem!important;
}

.my-langs{
  font-family:bpg ;
  font-size: 14px;
}

.my-color{
  background-color:#e23848;
}
.my-color a{
  font-family: BPG;
  color: white;
}


